<section class="form">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 login-image">
        <img
          src="/images/bicycles-page-rockfire-ridge-29.webp"
          class="img-fluid rounded"
          alt=""
        />
      </div>
      <div class="col-lg-6 d-flex justify-content-center position-relative">
        <div style="width: 460px;">
          <div class="d-flex justify-content-center logo">
            <img src="/images/clipart1345268.png" width="90px" alt="" />
          </div>
          <div class="d-flex justify-content-center mt-2 mb-2 fs-3">
            <span>Admin Login</span>
          </div>
          <form action="admin_login" method="POST">

            {{#if invalidAdmin}}
              <div class="warning">
                <div class="warning-msg">
                  <span class="text-danger">Invalid Admin Credentials

                  </span>
                </div>
              </div>
            {{else}}
              {{#if adminNotvalid}}
                <div class="warning">
                  <div class="warning-msg">
                    <span class="text-danger">Admin not found

                    </span>
                  </div>
                </div>
              {{else}}
                <div class="warning">
                  <div class="warning-msg d-flex">
                    <span class="form-empty">Fill the form</span>

                  </div>
                </div>
              {{/if}}
            {{/if}}

            <div class="col-lg-12">
              <input
                type="text"
                name="email"
                id="email-login"
                placeholder="Email Address*"
              />
            </div>
            <div class="warning">
              <div class="warning-msg">
                <span class="notvalid-email">Email not valid</span>
              </div>
            </div>
            <div class="col-lg-12">
              <input
                type="password"
                name="password"
                id="password-login"
                placeholder="Password*"
              />
            </div>

            <div class="warning my-2">
              <div class="warning-msg">
                <span class="password-warning notvalid-password">password not
                  valid [a-b/1-10]
                </span>

              </div>
            </div>
            <div class="col-lg-12">
              <button
                type="submit"
                class="btn text-white btn-dark button-create"
              >Login</button>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</section>