<section>
  <div
    class="container pt-5"
    style="background-color: #f6f6f6; min-height:100vh;"
  >
    <div class="profile">
      <div class="about-us-logo">
        <img style="height: 100%;" src="/images/clipart1345268.png" alt="" />
      </div>
      <div class="mt-3">
        <span class="about-des">MyBicycle.com is an e-commerce portal exclusive
          for buying bicycles. One can pick from our wide range of top Indian
          and international cycling brands with also kids and toddler specific
          range of bicycles. Book your bicycle and sit back and relax as your
          dream bicycle will be delivered at your door step in a unique ready to
          ride box. It is also an online knowledge portal built with the purpose
          of helping consumers, in the market to buy a cycle , pick the right
          cycle based on their needs. The portal offers various tools such as a
          "Help Me Choose" option for amateurs looking to start cycling. Besides
          this, there are event listings, expert reviews, knowledge articles,
          tips and advice. We at ChooseMyBicycle.com will also have our own
          cycling events across India for all types of cyclists from amateur
          short weekend rides to professional race for the experts.</span>
      </div>
      <div class="border my-3"></div>
      <div class="my-3 about-us-payment">
        PAYMENT PARTNER
      </div>
      <div class="about-us-payment-img">
        <img src="/images/razorpay.svg" style="height: 100%;" />
      </div>
      <div class="border my-3"></div>
      <div class="my-3 about-us-payment">
        CONTACT
      </div>
      <div>
        <div class="d-flex align-items-center">
          <i class="mobile-icon me-4 fa-solid fa-mobile"></i>
          <div>
            <label>+91 85909339378</label><br />
            <label class="text-nowrap">From Mon to Fri 9am to 5pm</label>
          </div>
        </div>
        <div class="d-flex align-items-center mt-3">
          <i class="mobile-icon fa-regular me-3 fa-envelope"></i>
          <div>
            <label>mycycle19@gmail.com</label><br />
            <label class="text-nowrap">Send your query to this Email</label>
          </div>
        </div>
      </div>
      <div class="border my-3"></div>

    </div>
  </div>
</section>