<div class="tick">
  <i class="fas fa-check-circle"></i>
</div>
<div>
  <p>Order Placed Successfully!</p>
  <button
    onclick="window.location.href='http://localhost:3000/user/my-orders/{{userId}}'"
    class="btn btn-light"
  >BACT TO MY ORDERS</button>
</div>