<div
  class="alert w-25 alert-user-change-password position-fixed m-4 alert-danger"
  style="top:150px;"
  role="alert"
>
  
</div>
<section>
  <div class="container user-change-password-container">
    <div class="my-2 edit-profile-tag">CHANGRE PASSWORD</div>

    <div class="user-change-password-form-container">
      <form class="row" id="user-profile-change-password-form">
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Old Password</label>
          <input
            type="password"
            class="form-control"
            id="exampleInputPassword1"
            name="oldpassword"
          />
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">New Password</label>
          <input
            type="password"
            class="form-control"
            id="exampleInputPassword2"
            name="newpassword"
          />
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Confirm New
            Password</label>
          <input
            type="password"
            class="form-control"
            id="exampleInputPassword3"
            name="confirmpassword"
          />
        </div>
        
      </form>
      <span>Dont Remember Old Password  <a data-user-id="{{userInfo._id}}" class="changepassword-with-otp">Change With OTP</a></span><br>
      <button
       id = 'user-profile-password-change-button'
        data-user-id="{{userInfo._id}}"
        style="width: 180px;"
        class="btn btn-danger mt-2"
      >CHANGE PASSWORD</button>
    </div>
  </div>

</section>
<script>
    const oldPassword = document.getElementById('exampleInputPassword1')
    const newPassword = document.getElementById('exampleInputPassword2')
    const confirmnewPassword = document.getElementById('exampleInputPassword3')
    const passwordChangeButton = document.getElementById('user-profile-password-change-button');
    const userChangepasswordAlert = document.querySelector('.alert-user-change-password')
    const hasSpecialCharacter = /[!@#$%^&*(),.?":{}|<>]/;

   // Check for an alphabet character
   const hasAlphabet = /[a-zA-Z]/;

   // Check for a numeric character
    const hasNumber = /\d/;

    passwordChangeButton.addEventListener('click' ,(event) =>{
        if(oldPassword.value.trim() !=='' &&
           newPassword.value.trim() !=='' &&
           confirmnewPassword.value.trim() !==""){
          if (hasSpecialCharacter.test(oldPassword.value) && hasSpecialCharacter.test(newPassword.value)){
            if(hasAlphabet.test(oldPassword.value) && hasAlphabet.test(newPassword.value)){
                if(hasNumber.test(oldPassword.value) && hasNumber.test(newPassword.value)){
                    if(oldPassword.value.trim().length >= 8 && newPassword.value.trim().length >= 8){
                       if(newPassword.value.trim() == confirmnewPassword.value.trim()){
                         const userId = passwordChangeButton.getAttribute('data-user-id')
                            profileChangePasswordForm(userId) 
                       }else{
                        userChangePassword(userChangepasswordAlert ,'Password not Match',event)
                       }
                    }else{
                         userChangePassword(userChangepasswordAlert ,'Password Must have atleast 8 charecter',event)
                    }
                }else{
                    userChangePassword(userChangepasswordAlert ,'Password Must have numbers',event)
                }

            }else{
                userChangePassword(userChangepasswordAlert ,'Password Must have A Alphabets',event)
            }

          }else{
                 userChangePassword(userChangepasswordAlert ,'Password Must have A special Charecter',event)
          }

        }else{
          userChangePassword(userChangepasswordAlert ,'fill all the fields',event)
               
        }
     

    })



    function userChangePassword(element ,msg ,e){
     e.preventDefault();
    element.innerHTML = msg
    element.classList.add('alert-user-change-password-visible')
    setTimeout(() => {
      element.classList.remove('alert-user-change-password-visible')
    } ,2000)
     setTimeout(() => {
    element.innerHTML = "";
  }, 2500);
  }

</script>