<div
  class="modal fade"
  id="imageCropModal"
  tabindex="-1"
  aria-labelledby="imageCropModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content bg-light">
      <div class="modal-header">
        <h5 class="modal-title" id="imageCropModalLabel">ALERT</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>

      <div style="height:fit-content; width:100%;">
        <div class="row p-2">
          <span
            class="d-flex justify-content-center font-weight-bold text-danger fs-6 p-2 modal-body-alert"
          >
            <div>

            </div>

          </span>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          id="cancel_crop_button"
          class="btn btn-outline-dark"
          style="width:fit-content;"
          data-bs-dismiss="modal"
        >Cancel</button>
        <button
          id="confirmAction"
          type="button"
          class="btn btn-danger"
        >Confirm</button>
      </div>
    </div>
  </div>
</div>
<button
  id="alert-button"
  class="btn"
  hidden
  data-bs-toggle="modal"
  data-bs-target="#imageCropModal"
></button>
<div
  class="modal fade"
  id="alertModal"
  tabindex="-1"
  aria-labelledby="imageCropModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content bg-light">
      <div class="modal-header">
        <h5 class="modal-title" id="imageCropModalLabel">ALERT</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>

      <div style="height:fit-content; width:100%;">
        <div class="row p-2">

          <div class="d-flex justify-content-center align-items-center">
            <div>
              <span
                class="font-weight-bold text-danger fs-6 px-3 me-2 modal-body-msg"
              >

              </span>
            </div>
            <div class="loader">

            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          id="cancel_button"
          class="btn btn-danger tex-white"
          style="width:fit-content;"
          data-bs-dismiss="modal"
        >Cancel</button>

      </div>
    </div>
  </div>
</div>
<button
  id="msg-button"
  hidden
  class="btn"
  data-bs-toggle="modal"
  data-bs-target="#alertModal"
></button>


<section class="form">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 login-image">
        <img
          src="/images/bicycles-page-rockfire-ridge-29.webp"
          class="img-fluid rounded"
          alt=""
          onclick="location.href = 'http://localhost:3000/home'"
        />
      </div>
      <div class="col-lg-6 d-flex justify-content-center position-relative">
        <div style="width: 460px;">
          <div class="d-flex justify-content-center logo">
            <img src="/images/clipart1345268.png" width="90px" alt="" />
          </div>
          <div class="d-flex justify-content-center mt-2 mb-2 fs-3">
            <span>
              Submit OTP
            </span>
          </div>

          <form  action=" /signup_submit_otp"  method="POST">
            {{#if otpInvalid}}
              <div class="warning">
                <div class="warning-msg">
                  <span class="text-danger">
                    Invalid OTP  Try
                    <a href="http://localhost:3000/user_login">
                      Login
                    </a>
                  </span>
                </div>
              </div>
            {{else }}
            {{#if otpExpired}}
          
               <div class="warning">
                <div class="warning-msg">
                  <span class="text-danger">
                    OTP Expire Hit resend button
                  </span>
                </div>
              </div>
              
            {{else}}
              <div class="warning">
                <div class="warning-msg d-flex">
                  <span class="form-empty-login form-empty">
                    Enter Valid Otp
                  </span>
                </div>
              </div>
              {{/if}}
            {{/if}}
            <div class="col-lg-12">
              <input
                type="number"
                name="otp"
                id="otp-login"
                placeholder="Enter the OTP*"
              />
            </div>
            <div class="d-flex justify-content-start">
              <span class="form-empty  forgot-resend-msg">Otp resend </span>
            </div>
            <div class="col-lg-12">
              <button
                type="submit"
                class="btn text-white btn-danger mt-4 me-1 "
                style="width: 150px;"
              >
                Sign UP
              </button>
              <button
               id="signup-resend-otp"
                class="btn btn-dark mt-4 ms-1"
                style="width: 150px;"
                onclick="event.preventDefault()"
              >
                resend OTP
              </button>
            </div>
          </form>
          
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  const form = document.querySelector('form') 
  const emptyForm = document.querySelector(".form-empty-login")
  const otp = document.getElementById("otp-login")
  const resendButton = document.getElementById('resendotp-button')

  form.addEventListener('submit' ,(event) => {
    
    if(otp.value.trim() === "" ){
       validateOtp(emptyForm,event)
    }else{

    }
   
  })
  
function validateOtp(notValidOtp,event) {
    event.preventDefault()
  notValidOtp.classList.add('valid')
  setTimeout(() => {

    notValidOtp.classList.remove('valid')
 },800)

  }
</script>