<section>
  <div
    class="container"
    style="min-height: 100vh;
  background-color: #f6f6f6;
  padding: 30px 60px;
  background-color: #f6f6f6;
  height: auto;
  padding-bottom: 50px;
  transition: 0.5 ease;
  transition: 0.7s ease;"
  >
    <div class="row">
      <div class="my-3" style="font-weight: 700; color:gray;">SUBMIT YOUR OTP</div>
      <div class="cancel-product-otp-container">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">OTP</label>
          <input
            type="number"
            id="changepassword-otp"
            class="form-control mb-2"
          />
          <div class="text-success">Otp Has send to email
            {{userInfo.email}}</div>
          <button
            onclick="submitpassChangeotp('{{userInfo._id}}')"
            class="btn btn-danger mt-2"
          >
            SUBMIT OTP</button>
          <button
            onclick="resendPassChangeotp()"
            class="btn btn-outline-dark mt-2"
          >RESEND OTP</button>

        </div>
      </div>
    </div>
  </div>
</section>